{% extends "layout.html" %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock CSS %}


{% block about %}
                
                    <div class="divider"></div>
                    <h1>Despre Noi</h1>
                    <p>Va salutam in Numele scump si pretios al Domnului nostru Isus Cristos.</p>
                    <p>In primul rand vrem sa va spunem Dumnezeu sa binecuvanteze interesul
            Dvs. pentru hrana spirituala.</p>   
                    <p>
                        Acest site se vrea a fi un sprijin pentru fratii si surorile care nu au
                        o biserica sau nu au loc de inchinare, iar predicile publicate pe acest site nu intentioneaza sa inlocuiasca
                        partasia la o adunare si nu incurajeaza statul acasa, trebuie menționat faptul că predicile nu sunt pentru ca cineva să vâneze greșeli, tocmai de aceea a fost implementata o parola.
                    </p>
                    <p>
                        Deasemenea, contul pe care il aveti este strict pentru folosul Dvs., nu este transmisibil.
                    </p>
                    <p>
                        Fie ca Dumnezeu să binecuvânteze pe fiecare credincios real și împreună să creștem la Statura Plinătății lui Cristos.
                    </p>
                </div>
{% endblock about %}