{% extends "layout.html" %}

{% block CSS %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock CSS %}



{% block carousel %}
	<div class="carousel">
		<main role="main" class="container">
	        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
	          <div class="carousel-inner">
	            <div class="carousel-item active" data-bs-interval="10000">
	              <img src="{{ url_for('static', filename = 'firstPhoto.jpeg') }}" class="d-block w-100" alt="prorocul Ilie">
	            </div>
	            <div class="carousel-item" data-bs-interval="2000">
	              <img src="{{ url_for('static', filename = 'cloudPhoto.jpeg') }}" class="d-block w-100" alt="norul">
	            </div>
	            <div class="carousel-item">
	              <img src="{{ url_for('static', filename = 'thirdPhoto.jpeg') }}" class="d-block w-100" alt="third photo">
	            </div>
	          </div>
	          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
	            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Previous</span>
	          </button>
	          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
	            <span class="carousel-control-next-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Next</span>
	          </button>
	       	</div>
	     </main>
 	</div>
 	<br>
 	<br>

{% endblock carousel %}
